In [15]:
import sqlite3
import random
from datetime import datetime, timedelta

conn = sqlite3.connect("data.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS Employees (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    full_name TEXT NOT NULL,
    department TEXT NOT NULL,
    salary REAL NOT NULL,
    hire_date TEXT NOT NULL
)
""")
first_names = [
    "Иван", "Пётр", "Алексей", "Сергей", "Андрей",
    "Дмитрий", "Михаил", "Николай", "Владимир", "Евгений"
]
last_names = [
    "Иванов", "Петров", "Сидоров", "Кузнецов", "Смирнов",
    "Попов", "Соколов", "Лебедев", "Козлов", "Новиков"
]
departments = ["IT", "HR", "Finance", "Logistics", "Marketing"]

for _ in range(120):
    full_name = f"{random.choice(last_names)} {random.choice(first_names)}"
    department = random.choice(departments)
    salary = random.randint(40000, 120000)

    hire_date = datetime.now() - timedelta(days=random.randint(100, 3000))
    hire_date = hire_date.strftime("%Y-%m-%d")

    cursor.execute("""
    INSERT INTO Employees (full_name, department, salary, hire_date)
    VALUES (?, ?, ?, ?)
    """, (full_name, department, salary, hire_date))

conn.commit()
conn.close()

In [16]:
import sqlite3

conn = sqlite3.connect("data.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS logistics_bonus (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    employee_id INTEGER,
    full_name TEXT,
    salary REAL,
    bonus REAL
)
""")

cursor.execute("DELETE FROM logistics_bonus")

cursor.execute("""
SELECT id, full_name, salary
FROM Employees
WHERE department = 'Logistics'
""")

employees = cursor.fetchall()

for emp_id, full_name, salary in employees:
    bonus = salary * 0.15

    cursor.execute("""
    INSERT INTO logistics_bonus (employee_id, full_name, salary, bonus)
    VALUES (?, ?, ?, ?)
    """, (emp_id, full_name, salary, bonus))

conn.commit()
conn.close()

In [17]:
conn = sqlite3.connect("data.db")
cursor = conn.cursor()
cursor.execute("SELECT * FROM logistics_bonus;")
print(cursor.fetchall())
conn.close()

[(146, 2, 'Петров Михаил', 112927.0, 16939.05), (147, 5, 'Соколов Иван', 96612.0, 14491.8), (148, 12, 'Соколов Михаил', 69437.0, 10415.55), (149, 19, 'Попов Иван', 79986.0, 11997.9), (150, 27, 'Иванов Андрей', 59760.0, 8964.0), (151, 28, 'Кузнецов Дмитрий', 65995.0, 9899.25), (152, 30, 'Кузнецов Андрей', 82994.0, 12449.1), (153, 33, 'Новиков Дмитрий', 119256.0, 17888.399999999998), (154, 36, 'Новиков Алексей', 99679.0, 14951.849999999999), (155, 39, 'Лебедев Михаил', 96780.0, 14517.0), (156, 47, 'Попов Алексей', 68447.0, 10267.05), (157, 48, 'Козлов Андрей', 78728.0, 11809.199999999999), (158, 56, 'Сидоров Сергей', 106664.0, 15999.599999999999), (159, 76, 'Смирнов Дмитрий', 45916.0, 6887.4), (160, 77, 'Петров Владимир', 72866.0, 10929.9), (161, 80, 'Новиков Николай', 70912.0, 10636.8), (162, 84, 'Иванов Сергей', 104446.0, 15666.9), (163, 86, 'Смирнов Пётр', 67620.0, 10143.0), (164, 97, 'Лебедев Иван', 79731.0, 11959.65), (165, 103, 'Петров Иван', 41890.0, 6283.5), (166, 104, 'Сидоров Андрей', 99399.0, 14909.849999999999), (167, 105, 'Соколов Евгений', 40483.0, 6072.45), (168, 107, 'Попов Сергей', 47928.0, 7189.2), (169, 120, 'Новиков Владимир', 56226.0, 8433.9), (170, 122, 'Смирнов Михаил', 105145.0, 15771.75), (171, 124, 'Смирнов Михаил', 54968.0, 8245.199999999999), (172, 127, 'Новиков Алексей', 94893.0, 14233.949999999999), (173, 131, 'Лебедев Владимир', 51820.0, 7773.0), (174, 134, 'Попов Андрей', 103420.0, 15513.0), (175, 136, 'Попов Сергей', 109807.0, 16471.05), (176, 142, 'Иванов Владимир', 89372.0, 13405.8), (177, 145, 'Козлов Михаил', 99113.0, 14866.949999999999), (178, 149, 'Сидоров Пётр', 93033.0, 13954.949999999999), (179, 151, 'Козлов Михаил', 84287.0, 12643.05), (180, 152, 'Кузнецов Пётр', 90897.0, 13634.55), (181, 168, 'Козлов Иван', 87506.0, 13125.9), (182, 171, 'Козлов Евгений', 111041.0, 16656.149999999998), (183, 173, 'Смирнов Михаил', 60234.0, 9035.1), (184, 175, 'Попов Пётр', 48934.0, 7340.099999999999), (185, 181, 'Сидоров Андрей', 105154.0, 15773.099999999999), (186, 185, 'Сидоров Алексей', 60453.0, 9067.949999999999), (187, 186, 'Смирнов Пётр', 97682.0, 14652.3), (188, 191, 'Лебедев Сергей', 66205.0, 9930.75), (189, 213, 'Лебедев Андрей', 49245.0, 7386.75), (190, 220, 'Попов Дмитрий', 87266.0, 13089.9), (191, 224, 'Петров Пётр', 55225.0, 8283.75), (192, 226, 'Иванов Владимир', 96834.0, 14525.1), (193, 239, 'Соколов Владимир', 69424.0, 10413.6), (194, 240, 'Петров Иван', 65870.0, 9880.5), (195, 254, 'Иванов Дмитрий', 63003.0, 9450.449999999999), (196, 255, 'Лебедев Андрей', 96645.0, 14496.75), (197, 256, 'Петров Пётр', 83470.0, 12520.5), (198, 258, 'Кузнецов Сергей', 101526.0, 15228.9), (199, 261, 'Иванов Сергей', 93461.0, 14019.15), (200, 265, 'Петров Сергей', 99110.0, 14866.5), (201, 267, 'Сидоров Николай', 89731.0, 13459.65), (202, 270, 'Новиков Николай', 107637.0, 16145.55), (203, 279, 'Петров Дмитрий', 77378.0, 11606.699999999999), (204, 282, 'Сидоров Дмитрий', 107727.0, 16159.05), (205, 284, 'Кузнецов Пётр', 93146.0, 13971.9), (206, 291, 'Попов Николай', 72835.0, 10925.25), (207, 297, 'Кузнецов Алексей', 52075.0, 7811.25), (208, 309, 'Смирнов Пётр', 69229.0, 10384.35), (209, 313, 'Сидоров Пётр', 49231.0, 7384.65), (210, 316, 'Смирнов Алексей', 112404.0, 16860.6), (211, 324, 'Лебедев Андрей', 101223.0, 15183.449999999999), (212, 326, 'Соколов Михаил', 100152.0, 15022.8), (213, 331, 'Соколов Евгений', 81600.0, 12240.0), (214, 335, 'Иванов Андрей', 87383.0, 13107.449999999999), (215, 336, 'Смирнов Пётр', 90510.0, 13576.5), (216, 337, 'Новиков Михаил', 62389.0, 9358.35), (217, 342, 'Соколов Алексей', 82160.0, 12324.0), (218, 352, 'Новиков Николай', 80955.0, 12143.25), (219, 353, 'Петров Иван', 78488.0, 11773.199999999999), (220, 354, 'Смирнов Пётр', 43958.0, 6593.7), (221, 365, 'Смирнов Алексей', 60635.0, 9095.25), (222, 367, 'Козлов Николай', 42735.0, 6410.25), (223, 373, 'Попов Пётр', 110266.0, 16539.899999999998), (224, 379, 'Петров Сергей', 107192.0, 16078.8), (225, 382, 'Кузнецов Сергей', 62640.0, 9396.0), (226, 388, 'Попов Пётр', 40161.0, 6024.15), (227, 395, 'Лебедев Иван', 95241.0, 14286.15), (228, 403, 'Сидоров Пётр', 88011.0, 13201.65), (229, 417, 'Соколов Алексей', 44258.0, 6638.7), (230, 422, 'Иванов Николай', 69154.0, 10373.1), (231, 425, 'Козлов Иван', 115098.0, 17264.7), (232, 427, 'Сидоров Владимир', 54319.0, 8147.849999999999), (233, 430, 'Соколов Евгений', 119295.0, 17894.25), (234, 437, 'Лебедев Евгений', 53558.0, 8033.7), (235, 441, 'Иванов Андрей', 97073.0, 14560.949999999999), (236, 443, 'Иванов Дмитрий', 105592.0, 15838.8), (237, 450, 'Петров Пётр', 58998.0, 8849.699999999999), (238, 454, 'Лебедев Алексей', 101177.0, 15176.55), (239, 457, 'Кузнецов Михаил', 47556.0, 7133.4), (240, 463, 'Сидоров Андрей', 76112.0, 11416.8), (241, 464, 'Петров Пётр', 108863.0, 16329.449999999999), (242, 465, 'Петров Андрей', 80903.0, 12135.449999999999), (243, 470, 'Новиков Андрей', 101311.0, 15196.65), (244, 472, 'Новиков Михаил', 85644.0, 12846.6), (245, 477, 'Петров Михаил', 41144.0, 6171.599999999999), (246, 482, 'Новиков Николай', 54412.0, 8161.799999999999), (247, 483, 'Иванов Евгений', 40342.0, 6051.3), (248, 489, 'Смирнов Михаил', 80131.0, 12019.65), (249, 494, 'Новиков Пётр', 109235.0, 16385.25), (250, 500, 'Смирнов Алексей', 40812.0, 6121.8), (251, 504, 'Сидоров Евгений', 88127.0, 13219.05), (252, 509, 'Попов Андрей', 74495.0, 11174.25), (253, 522, 'Козлов Евгений', 107338.0, 16100.699999999999), (254, 523, 'Новиков Алексей', 45951.0, 6892.65), (255, 526, 'Козлов Дмитрий', 41329.0, 6199.349999999999), (256, 528, 'Лебедев Евгений', 89475.0, 13421.25), (257, 539, 'Смирнов Иван', 109884.0, 16482.6), (258, 543, 'Сидоров Михаил', 110226.0, 16533.899999999998), (259, 544, 'Попов Сергей', 63083.0, 9462.449999999999), (260, 553, 'Козлов Иван', 84901.0, 12735.15), (261, 555, 'Новиков Михаил', 46497.0, 6974.55), (262, 557, 'Кузнецов Алексей', 60399.0, 9059.85), (263, 564, 'Попов Николай', 47492.0, 7123.8), (264, 569, 'Сидоров Иван', 115768.0, 17365.2), (265, 570, 'Лебедев Николай', 62498.0, 9374.699999999999), (266, 579, 'Сидоров Михаил', 52579.0, 7886.849999999999), (267, 593, 'Новиков Алексей', 84420.0, 12663.0), (268, 595, 'Новиков Николай', 111548.0, 16732.2), (269, 599, 'Иванов Пётр', 85672.0, 12850.8)]